body{  font-size: 16px;
     }

.principal{ background-color: gray;
    text-align: center;}

.negrito{color: red;
}

.subtitulo{text-align: center;}

.imagem-beneficio{width: 50%;}

.lista{ display: inline-block;
vertical-align: top;}

.imagem{width: 100%;}

.titulo{ padding: 20px;}
